@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  * {
    @apply border-dark-light;
  }

  body {
    @apply bg-dark-primary text-text-primary;
  }
}

